body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #35424a;
    color: white;
    padding: 20px 0;
    text-align: center;
}

main {
    padding: 20px;
}

h2 {
    color: #35424a;
}

input[type="text"] {
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #35424a;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1f2b35;
}
